// "out": true
// "compress": false

@import "reset.less";
@import "global.less";
@import "dialog.less";
@import "appicon.less";
/* #doc{width: 100%;height: 100%;background: url(../img/bg_default.jpg) no-repeat;background-size: 100%;background-position: center;} */

@import "taskbar.less";
