// "out": false, "compress": false

@width: 44px;
@heigth: 35px;

#taskbar{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: @heigth;
  line-height: @heigth;
  .border-img();
  background: rgba(255,255,255,.3);
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  &>div{
    position: absolute;
    width: @width;
    height: @heigth;
    line-height: @heigth;
    box-sizing: border-box;
    &:not(:last-of-type):hover{ /* First-Of-Type 似乎更稳定 */
      .border-img(@dir: left);
      .border-img(@dir: right);
    }
  }
  #startmenu{
  }
  #launchbar{
    left: @width;
  }
  #Apps{
    left: @width*2;
  }
  #language{
    left: @width*3;
  }
  #notearea{
    right: 76px;
    .item{
      width: 22px;
    }
  }
  #time{
    right: 8px;
    width: 68px;
  }
  #showWindow{
    right: 0;
    width: 6px;
    &:hover{
      background: @white;
    }
  }
}
